@model Minible5.Models.SyncDatumModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.pTitle = "Dashboard";
    //ViewBag.pageTitle = "Hydroid";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int value = Convert.ToInt32(Model.SyncDatumList.FirstOrDefault().PayLoad_ASCII.Split('_').First());
}
@section styles{
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

}

<div class="card clearfix">
    <div class="row">
        <body style="background-color: lightgray">
            <div class="col-md-6 col-xl-4">

                <div class="card" style="background-color: rgb(241, 180, 76)">
                    <div class="card-body">
                        <div class="float-end mt-2">
                            <div id="total-Utility-chart"></div>
                        </div>
                        <div>
                            <h4 class="mb-1 mt-1">@(value*10)Liters</h4>
                            <p class="text-muted">Last 24 Hours Consumption</p>
                        </div>
                        @*<p class="text-muted mt-3 mb-0">
                                <span class="text-success me-1"><i class="mdi mdi-arrow-up-bold me-1"></i>2.65%</span> since last day
                            </p>*@
                    </div>
                </div>

            </div> <!-- end col-->

            <div class="col-md-6 col-xl-4">
                <div class="card" style="background-color: rgb(91, 115, 232)">
                    <div class="card-body">
                        <div class="float-end mt-2">
                            <div id="orders-chart"> </div>
                        </div>
                        <div>
                            <h4 class="mb-1 mt-1">@(value*240)Liters</h4>
                            <p class="text-muted mb-0">Last week Consumption</p>
                        </div>
                        <br />
                        @*<p class="text-muted mt-3 mb-0">
                                <span class="text-danger me-1"><i class="mdi mdi-arrow-down-bold me-1"></i>0.82%</span> since last week
                            </p>*@
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-4">
                <div class="card" style="background-color:rgb(52, 195, 143)">
                    <div class="card-body">
                        <div class="float-end mt-2">
                            <div id="customers-chart"> </div>
                        </div>
                        <div>
                            <h4 class="mb-1 mt-1">@(value*1680)Liters</h4>
                            <p class="text-muted mb-0">Last month Consumption</p>
                        </div>
                        </br>
                        @*<p class="text-muted mt-3 mb-0">
                                <span class="text-danger me-1"><i class="mdi mdi-arrow-down-bold me-1"></i>6.24%</span> since last month
                            </p>*@
                    </div>
                </div>
            </div> <!-- end col-->
            <!--<div class="col-md-6 col-xl-3">
                <div class="card" style="background-color:dimgray">
                    <div class="card-body">
                        <div class="float-end mt-2">
                            <div id="total-Utility-chart"></div>
                        </div>
                        <div>
                            <h4 class="mb-1 mt-1">@(value*10)Liters</h4>
                            <p class="text-muted">Last 24 Hours Consumption</p>
                        </div>-->
            @*<p class="text-muted mt-3 mb-0">
                    <span class="text-success me-1"><i class="mdi mdi-arrow-up-bold me-1"></i>2.65%</span> since last day
                </p>*@
            <!--</div>
                </div>


            </div>-->
            <!-- end row-->

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            @*<div class="col-sm-9">
                                    <div class="dropdown mt-sm-12 mt-sm-12">
                                        <a href="#" class="btn btn-light dropdown-toggle waves-effect" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Dropdown link <i class="mdi mdi-chevron-down ms-1"></i>
                                        </a>

                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="float-end">
                                <div class="dropdown">
                                    <a class="dropdown-toggle text-reset" href="#" id="dropdownMenuButton5"
                                       data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <span class="fw-semibold">Sort By:</span> <span class="text-muted">Yearly<i class="mdi mdi-chevron-down ms-1"></i></span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5">
                                        <a class="dropdown-item" href="#">Yearly</a>
                                        <a class="dropdown-item" href="#">Monthly</a>
                                        <a class="dropdown-item" href="#">Weekly</a>
                                    </div>
                                </div>
                            </div>
                            <h4 class="card-title mb-4">Admin Dashboard</h4>

                            <div id="column_chart" class="apex-charts" dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">


                            <h4 class="card-title">Users</h4>
                            <p class="card-title-desc">

                            </p>

                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Device_Id</th>
                                        <th>Time</th>
                                        <th>Serial</th>
                                        @*<th>PayLoad_Base64</th>*@
                                        <th>PayLoad_ASCII</th>
                                        <th>Status</th>
                                        @*<th>Created_By</th>
                                            <th>Created_Date</th>
                                            <th>Modified_By</th>
                                            <th>Modified_Date</th>*@
                                        <th>Application_Id</th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model.SyncDatumList)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelitem => item.Id) </td>
                                        <td>@Html.DisplayFor(modelitem => item.Device_Id) </td>
                                        <td>@Html.DisplayFor(modelitem => item.Time)</td>
                                        <td>@Html.DisplayFor(modelitem => item.Serial)</td>
                                        @*<td>@Html.DisplayFor(modelitem => item.PayLoad_Base64) </td>*@
                                        <td>@Html.DisplayFor(modelitem => item.PayLoad_ASCII) </td>
                                        <td>@Html.DisplayFor(modelitem => item.Status) </td>
                                        @*<td>@Html.DisplayFor(modelitem => item.Created_By) </td>
                                            <td>@Html.DisplayFor(modelitem => item.Created_Date) </td>
                                            <td>@Html.DisplayFor(modelitem => item.Modified_By) </td>*@
                                        @*<td>@Html.DisplayFor(modelitem => item.Modified_Date) </td>*@
                                        <td>@Html.DisplayFor(modelitem => item.Application_Id) </td>

                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div> <!-- end col -->
        </body>
    </div>

    </div>





    @section scripts{

        <!-- apexcharts -->
        <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

        <script src="~/assets/js/pages/dashboard.init.js"></script>
        <script src="~/assets/js/pages/apexcharts.init.js"></script>

        <!-- App js -->
        <script src="~/assets/js/app.js"></script>
        <!-- Required datatable js -->
        <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="~/assets/libs/jszip/jszip.min.js"></script>
        <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

        <!-- Responsive examples -->
        <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

        <!-- Datatable init js -->
        <script src="~/assets/js/pages/datatables.init.js"></script>

        <!-- App js -->
        <script src="~/assets/js/app.js"></script>
    }
